@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-end" style="margin-inline:20%">
    <a asp-controller="Home" asp-action="SubAreq" class="btn btn-back my-4 backbtn"><i class="bi bi-chevron-left"></i>Back</a>
</div>

<div class="mt-2 px-3" style="background-color:white;margin-inline:20%">

    <form>

        @* ---concierge info *@

        <div>
            <div>
                <h6 class="p-2">Concierge Information</h6>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Your First Name">
                </div>
                <div class="col-md-6 ">
                    <input type="text" class="form-control" placeholder="Your Last Name">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Phone">
                </div>
                <div class="col-md-6 ">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Relation With Patient">
                </div>
            </div>
        </div>

        @* ---concierge location *@

        <div>
            <div>
                <h6 class="p-2">Concierge Location</h6>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Street">
                </div>
                <div class="col-md-6 ">
                    <input type="text" class="form-control" placeholder="City">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Zipcode">
                </div>
                <div class="col-md-6 ">
                    <input type="text" class="form-control" placeholder="State">
                </div>
            </div>
            
        </div>

        @* ---patient info *@
        <div>
            <div class="p-2">
                <h6 class="py-2">Patient Information</h6>
                <textarea class="form-control" id="patientInfo" rows="3" placeholder="Enter Brief Dtail Of Symptoms (optional)"></textarea>
            </div>

          
            <div class="row p-2">
                <div class="col-md-6">

                    <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col-md-6">

                    <input type="text" class="form-control" placeholder="Last name">
                </div>

            </div>
            <div class="row p-2">
                <div class="col-md-6">

                    <input type="date" class="form-control" placeholder="Date of Birth">
                </div>
            </div>
        </div>

        @* ---patient contact info *@

        <div>
            <div>
                <h6 class="p-2">Patient Contact Information</h6>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Email">
                </div>
                <div class="col-md-6 ">
                    <input type="text" class="form-control" placeholder="(201)555-0123">
                </div>
            </div>
        </div>

        @* ---concierge location *@

        <div>
            <div>
                <h6 class="p-2">Patient Location</h6>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Room # / Suite(Optional)">
                </div>
            </div>
        </div>

        <div class="p-2 py-4  d-flex gap-2 justify-content-end">
            <button type="button" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary">Cancel</button>

        </div>

        

       


    </form>
</div>
