@model HelloDoc.Models.User;


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="text-end" style="margin-inline:20%">
    <a asp-controller="Home" asp-action="SubAreq" class="btn btn-back my-4 backbtn"><i class="bi bi-chevron-left"></i>Back</a>
</div>

<div class="mt-2 px-3" style="background-color:white;margin-inline:20%">
    
    <form  asp-action="PatientInfo" >

        @* ---patient info *@
        <div>
            <div class="p-2">
                <h6 class="py-2">Patient Information</h6>
                <textarea class="form-control" id="patientInfo" rows="3" placeholder="Enter Brief Dtail Of Symptoms (optional)"></textarea>
            </div>

            <!-- Patient Contact Information -->
            <div class="row p-2">
                <div class="col-md-6">

                    <input type="text" asp-for="FirstName" class="form-control" placeholder="First name">
                </div>
                <div class="col-md-6">

                    <input type="text" asp-for="LastName" class="form-control" placeholder="Last name">
                </div>

            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    <input type="date" class="form-control" placeholder="Date of Birth">
                </div>
            </div>
        </div>

        @* ---patient contact info *@

        <div>
            <div>
                <h6 class="p-2">Patient Contact Information</h6>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    <input type="text" asp-for="Email" class="form-control" placeholder="Email">
                </div>
                <div class="col-md-6 ">
                    <input type="text"  class="form-control" placeholder="(201)555-0123">
                </div>
            </div>
        </div>

        @* ---patient location *@

        <div>
            <div>
                <h6 class="p-2">Patient Location</h6>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Street">
                </div>
                <div class="col-md-6 ">
                    <input type="text" class="form-control" placeholder="City">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Zipcode">
                </div>
                <div class="col-md-6 ">
                    <input type="text" class="form-control" placeholder="State">
                </div>
            </div>
            <div class="p-2">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Room # / Suite(Optional)">
                </div>
            </div>
        </div>

        @* ---upload photo *@

        <div>
            <div>
                <h6 class="p-2">(Optional) Upload Photo or Document</h6>
            </div>
            <div class="row p-2">
                <div class="input-group">
                    <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">

                </div>
            </div>
           
        </div>

        <div class="p-2 py-4  d-flex gap-2 justify-content-end" >
            <input type="submit" class="btn btn-primary"  >
            <a type="button" class="btn btn-secondary" asp-controller="Home" asp-action="SubAreq">Cancel</a>
        </div>


    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
