@model HelloDoc.Models.PatientViewModel;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<div class="text-end" style="margin-inline:20%">
    <a asp-controller="Home" asp-action="SubAreq" class="btn btn-back my-4 backbtn"><i class="bi bi-chevron-left"></i>Back</a>
</div>

<div class="mt-2 px-3" style="background-color:white;margin-inline:20%">

    <form asp-action="PatientInfo" method="post" enctype="multipart/form-data">

        @* ---patient info *@
        <div>
            <div class="p-2">
                <h6 class="py-2">Patient Information</h6>
                <textarea class="form-control" asp-for="Discription" id="patientInfo" rows="3" placeholder="Enter Brief Dtail Of Symptoms (optional)"></textarea>
            </div>

            <!-- Patient Contact Information -->
            <div class="row p-2">
                <div class="col-md-6">
                    <input type="text" asp-for="FirstName" class="form-control" placeholder="First name">
                    <span asp-validation-for="FirstName" style="color:red"></span>
                </div>
                <div class="col-md-6">

                    <input type="text" asp-for="LastName" class="form-control" placeholder="Last name">
                </div>

            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    <input type="date" asp-for="BirthDate" class="form-control" placeholder="Date of Birth">
                    <span asp-validation-for="BirthDate" style="color:red"></span>
                </div>
            </div>
        </div>

        @* ---patient contact info *@

        <div>
            <div>
                <h6 class="p-2">Patient Contact Information</h6>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    <input type="text" asp-for="Email" class="form-control" placeholder="Email">
                    <span asp-validation-for="Email" style="color:red"></span>
                </div>
                <div class="col-md-6 ">
                    <input type="text" asp-for="Mobile" class="form-control" placeholder="(201)555-0123">
                    <span asp-validation-for="Mobile" style="color:red"></span>
                </div>
            </div>
        </div>

        @* ---patient location *@

        <div>
            <div>
                <h6 class="p-2">Patient Location</h6>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    <input type="text" asp-for="Street" class="form-control" placeholder="Street">
                    <span asp-validation-for="Street" style="color:red"></span>
                </div>
                <div class="col-md-6 ">
                    <input type="text" asp-for="City" class="form-control" placeholder="City">
                    <span asp-validation-for="City" style="color:red"></span>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-6">
                    <input type="text" asp-for="ZipCode" class="form-control" placeholder="Zipcode">
                    <span asp-validation-for="ZipCode" style="color:red"></span>
                </div>
                <div class="col-md-6 ">
                    <input type="text" asp-for="State" class="form-control" placeholder="State">
                    <span asp-validation-for="State" style="color:red"></span>
                </div>
            </div>
            <div class="p-2">
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Room # / Suite(Optional)">
                </div>
            </div>
        </div>

        @* ---upload photo *@

        <div>
            <div>
                <h6 class="p-2">(Optional) Upload Photo or Document</h6>
            </div>
            <div class="row p-2">
                <div class="input-group">
                    <input type="file" asp-for="ImgPath" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                </div>
            </div>

        </div>

        <div class="p-2 py-4  d-flex gap-2 justify-content-end">
            <input type="submit" class="btn btn-primary">
            <a type="button" class="btn btn-secondary" asp-controller="Home" asp-action="SubAreq">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
