@model HelloDoc.Models.PasswordModelView;
@{
    ViewBag.Title = "SignUp";
}

<div class="container d-flex flex-column justify-content-between align-items-center">
    <div class="image-div text-center" style="width: 50%;"><img src="~/assets/site_logo.png" alt=""></div>
    <div class="form-div p-3" style="width: 45%;">
        <button class="btn btn-outline-primary mx-2"><a style="text-decoration: none;" asp-action="Index" asp-controller="Home">Back</a></button>
        <form class="d-flex flex-column p-2 gap-2" asp-controller="Home" asp-action="SignUp" method="post">
            <h2 class="mb-2">Login To Your Account</h2>
            <div>
                <input type="email" id="email" asp-for="Email" class="form-control" placeholder="Email Address">
                <span class="error" asp-validation-for="Email" style="color:red"></span>
            </div>
            <div>
                <input type="password" asp-for="Password" id="pwd" class="form-control" autocomplete="password" placeholder="Password">
                <span class="error" asp-validation-for="Password" style="color:red"></span>
            </div>
            <div>
                <input type="password" asp-for="confirmPassword" id="pwd" class="form-control" autocomplete="password" placeholder="Confirm Password">
                <span class="error" asp-validation-for="confirmPassword" style="color:red"></span>
            </div>

            <button class="btn btn-primary my-1" type="submit">Submit</button>

        </form>
        @*  @if (ViewData.ModelState.IsValid == false) // Check for errors in ModelState
        {
        <div class="alert alert-danger">
        @Html.ValidationSummary(true)
        </div>
        } *@
    </div>
    <div class="footer-div d-flex align-items-center justify-content-center p-3" style="width: 50%;">
        <p class="m-0">Tearms of Condition | Privacy Policy</p>
    </div>
</div>






