@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    

    <div class="container">
        <div class="row  text-center">
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
                <h1 class="my-4">I am a...</h1>
            </div>
            <div class="col-md-4 text-center ">
            <a asp-controller="Home" asp-action="Index" class="btn btn-back my-4 backbtn"><i class="bi bi-chevron-left"></i>Back</a>
            </div>
        </div>
        <div class="container ">
            <div class=" d-flex flex-column align-items-center ">
            <a asp-controller="Home" asp-action="PatientInfo" style="border: 1px solid #6e80be; background-color: #e9eaef; color: #6e80be;" class="mb-3 w-25  pb-3 psubareq">PATIENT</a>
            <a asp-controller="Home" asp-action="famfrdInfo" style="border: 1px solid #5bb0d6; background-color: #e5f3f9; color: #5bb0d6;" class="mb-3 w-25  pb-3 psubareq">FAMILY/FRIEND</a>
            <a asp-controller="Home" asp-action="ConciergeInfo" style="border: 1px solid #508963; background-color: #e9f1e8; color: #508963" class="mb-3 w-25  pb-3 psubareq">CONCIERGE</a>
            <a asp-controller="Home" asp-action="BissunessInfo" style="border: 1px solid #b7478d; background-color: #f8e6ee; color: #b7478d" class="mb-3 w-25  pb-3 psubareq">BUSINESS PARTNERS</a>
            </div>
        </div>
    </div>
