
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #faf9f9;
}

.same {
    width: 400px;
    padding-block: 10px;
    border-radius: 3px;
    border: none;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
   
}
.btn-patient-req { 
    background-color: #01bce9;
   
}

.btn-patient-reg {  
    background-color: #0d1556;
  
}

.closehover:hover{
    color:white;
  
}

/*------subAreq-----*/

.backbtn {
    border: 2px solid #bdeff5;
    color: #c2e2e5;
}
    .backbtn:hover {
        color: #c2e2e5;
    }

    .backarrow {
        color: #c2e2e5;
    }



.psubareq {
    border-radius: 5px;
    text-decoration: none;
    padding-left:5px;
}


